.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f4f4f4;
  padding: 12px 50px;
  /* maintain size of the box regardless of padding */
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  /* parent must be in position relative in order to use position absolute for the child */
  position: relative;
}
.nav__notification {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.nav__dot {
  position: absolute;
  left: 20px;
  bottom: 15px;
}
