.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  padding-top: 50px;
  align-items: center;
}
.screen-header-title {
  font-size: 30px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 15px;
}
